.footer
    color: #fff #472017
    padding: 47px 0 46px

    .wrapper
        display: flex
        justify-content: space-between
        align-items: center

    &__copy
        position: relative

        a
            color: #BA8D61