.counters
    background: #FAF7F4
    padding: 175px 0 165px

    &__list
        display: flex
        justify-content: space-around

.counter
    position: relative

    &__number
        color: #EFE4D7
        font-size: em(230)
        font-weight: bold
        line-height: 1

    &__text
        position: absolute 50% * * calc(50% - 10px)
        white-space: nowrap
        font-size: em(30)
        line-height: 110%
        transform: translateY(-50%)